{% extends 'core/base.html' %}
{% block titulo %}
    
{% endblock titulo %}
{% block body_title %}

{% endblock body_title %}
{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <p>Bienvenido a Coockim, mi nombre es Jihun Kim. La idea de esta web es ayudarlos a introducirse al mundo gastronómico coreano de la manera más sencilla y simple.
                       Espero que puedan disfrutar de cada receta.
</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
