{% extends 'core/base.html' %}

{% block titulo| %}
    Comida | Comida:Lista
{% endblock titulo| %}

{% block contenido %} 
   
{% for object in object_list %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ object.comidas }}</h5>
    <p class="card-text">{{ object.categorias }}</p>
    <div class="card-footer">
      <a href="{% url 'recetas:detalle_comidas' pk=object.id %}" class="btn btn-primary">Ver más</a>
      <a href="{% url 'recetas:modificar_comidas' pk=object.id %}" class="btn btn-warning">Editar</a>
      <a href="{% url 'recetas:borrar_comidas' pk=object.id %}" class="btn btn-danger">Eliminar</a>
    </div>
  </div>
</div>
{% endfor %}

{% endblock contenido %}